In [1]:
import numpy as np
import pandas as pd

In [117]:
df2 = pd.read_csv('mrc_table2.csv')
df10 = pd.read_csv('mrc_table10.csv')

In [118]:
df2_cols = ['super_opeid', 'female', 'par_mean', 'k_mean', 'mr_kq5_pq1']
df2_final = df2[df2_cols]

df10_cols = ['name','super_opeid','region','state','zip','tier','tier_name','type','iclevel','public','hbcu','flagship',
             'ipeds_enrollment_2013','sticker_price_2013','grad_rate_150_p_2013','sat_avg_2013','scorecard_netprice_2013',
             'scorecard_rej_rate_2013','scorecard_median_earnings_2011','asian_or_pacific_share_fall_2000',
             'black_share_fall_2000','hisp_share_fall_2000','alien_share_fall_2000','pct_arthuman_2000','pct_business_2000',
             'pct_health_2000','pct_multidisci_2000','pct_publicsocial_2000','pct_stem_2000','pct_socialscience_2000',
             'pct_tradepersonal_2000']
df10_final = df10[df10_cols]

In [119]:
df = df2_final.join(df10_final.set_index('super_opeid'), on='super_opeid')
df.head()

,super_opeid,female,par_mean,k_mean,mr_kq5_pq1,name,region,state,zip,tier,...,hisp_share_fall_2000,alien_share_fall_2000,pct_arthuman_2000,pct_business_2000,pct_health_2000,pct_multidisci_2000,pct_publicsocial_2000,pct_stem_2000,pct_socialscience_2000,pct_tradepersonal_2000
0,30955,0.798788,35390.396804,24916.149002,0.020034,ASA Institute Of Business & Computer Technology,1.0,NY,11201.0,11.0,...,0.073324,0.071229,0.000000,6.603774,11.425576,0.000000,0.000000,81.970650,0.000000,0.000000
1,3537,0.559618,138760.969806,50874.146133,0.014364,Abilene Christian University,3.0,TX,79699.0,6.0,...,0.056724,0.039943,10.785619,22.503330,5.059920,9.720373,8.788282,11.318242,31.691078,0.133156
2,1541,0.441609,80366.661268,35346.929969,0.014857,Abraham Baldwin Agricultural College,3.0,GA,31793.0,7.0,...,0.016730,0.013688,0.000000,4.100228,12.072893,47.152618,6.378132,29.612757,0.000000,0.683371
3,7531,0.414257,166594.969612,39988.017206,0.016357,Academy Of Art University,4.0,CA,94105.0,10.0,...,0.205893,0.271817,96.091957,0.000000,0.000000,0.000000,0.000000,0.000000,3.908046,0.000000
4,1345,0.500847,76121.816340,38010.813407,0.018845,Adams State University,4.0,CO,81101.0,5.0,...,0.275481,0.002404,10.850440,24.046921,0.000000,33.431084,0.000000,13.489737,18.181818,0.000000

In [120]:
df2.shape

(2202, 85)

In [121]:
df10.shape

(2463, 49)

In [122]:
df.shape

(2202, 35)

In [123]:
df['acc_rate_2013'] = 1 - df['scorecard_rej_rate_2013']
df.drop(['scorecard_rej_rate_2013'],axis=1)

,super_opeid,female,par_mean,k_mean,mr_kq5_pq1,name,region,state,zip,tier,...,alien_share_fall_2000,pct_arthuman_2000,pct_business_2000,pct_health_2000,pct_multidisci_2000,pct_publicsocial_2000,pct_stem_2000,pct_socialscience_2000,pct_tradepersonal_2000,acc_rate_2013
0,30955,0.798788,35390.396804,24916.149002,0.020034,ASA Institute Of Business & Computer Technology,1.0,NY,11201.0,11.0,...,0.071229,0.000000,6.603774,11.425576,0.000000,0.000000,81.970650,0.000000,0.000000,NaN
1,3537,0.559618,138760.969806,50874.146133,0.014364,Abilene Christian University,3.0,TX,79699.0,6.0,...,0.039943,10.785619,22.503330,5.059920,9.720373,8.788282,11.318242,31.691078,0.133156,0.4894
2,1541,0.441609,80366.661268,35346.929969,0.014857,Abraham Baldwin Agricultural College,3.0,GA,31793.0,7.0,...,0.013688,0.000000,4.100228,12.072893,47.152618,6.378132,29.612757,0.000000,0.683371,0.7090
3,7531,0.414257,166594.969612,39988.017206,0.016357,Academy Of Art University,4.0,CA,94105.0,10.0,...,0.271817,96.091957,0.000000,0.000000,0.000000,0.000000,0.000000,3.908046,0.000000,NaN
4,1345,0.500847,76121.816340,38010.813407,0.018845,Adams State University,4.0,CO,81101.0,5.0,...,0.002404,10.850440,24.046921,0.000000,33.431084,0.000000,13.489737,18.181818,0.000000,0.5260
5,2666,0.718402,130723.740908,54029.666856,0.032585,Adelphi University,1.0,NY,11530.0,6.0,...,0.040981,9.009009,28.078077,13.963964,3.603604,8.558559,6.006006,30.780781,0.000000,0.6814
6,2860,0.526395,75699.251956,33735.568700,0.009941,Adirondack Community College - SUNY Office Of ...,1.0,NY,12804.0,9.0,...,0.002856,0.000000,19.017094,12.606837,50.000000,7.478632,8.547009,2.136752,0.213675,NaN
7,2234,0.554785,113708.111715,43944.552488,0.009565,Adrian College,2.0,MI,49221.0,6.0,...,0.019426,19.631903,28.834356,0.613497,12.269938,5.521472,16.564417,16.564417,0.000000,0.5628
8,11484,0.991379,90962.750000,27012.466146,0.020173,Advanced Institute Of Hair Design,2.0,WI,53228.0,11.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,100.000000,NaN
9,31275,0.039164,69400.148682,33265.162364,0.031439,Advanced Technology Institute,3.0,VA,23462.0,11.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,15.163935,0.000000,84.836067,0.9034
10,31155,0.763485,73132.161458,45837.113281,0.037858,Adventist University Of Health Sciences,3.0,FL,32803.0,8.0,...,0.000000,0.000000,0.000000,100.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.1336
11,1542,0.996951,148536.114583,45756.535156,0.014744,Agnes Scott College,3.0,GA,30030.0,4.0,...,0.053812,31.884058,0.000000,0.000000,10.144928,0.000000,15.942030,42.028984,0.000000,0.6687
12,10056,0.538832,67392.412172,27452.439065,0.017105,Aiken Technical College,3.0,SC,29829.0,9.0,...,0.000000,0.000000,36.253040,8.515815,9.732360,11.922141,24.330900,0.000000,9.245742,NaN
13,1002,0.513953,57659.152689,37065.251627,0.042193,Alabama Agricultural & Mechanical University,3.0,AL,35762.0,5.0,...,0.038813,1.284404,20.917431,0.000000,0.000000,4.403670,38.165138,35.229359,0.000000,0.8989
14,1034,0.596774,61075.670179,28755.539845,0.030778,Alabama Southern Community College,3.0,AL,36460.0,9.0,...,0.000000,0.000000,24.723248,26.937269,19.926199,0.000000,12.546125,0.000000,15.867159,NaN
15,5463,0.596141,72254.935199,27239.255657,0.004474,Alamance Community College,3.0,NC,27253.0,9.0,...,0.005565,2.447980,31.578947,14.565483,17.625460,1.468788,23.745409,0.000000,8.567931,NaN
16,37,0.540379,65078.975633,32800.566268,0.024408,Alamo Community College District,3.0,TX,78212.0,9.0,...,0.006456,2.130682,13.778409,28.030304,20.454546,4.971591,15.056818,3.551136,12.026515,NaN
17,2885,0.596899,90997.468750,115474.440104,0.033575,Albany College Of Pharmacy And Health Sciences,1.0,NY,12208.0,8.0,...,0.020654,0.000000,0.000000,100.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.6340
18,1544,0.635956,54718.259160,34497.287535,0.025795,Albany State University,3.0,GA,31705.0,5.0,...,0.003516,3.313253,17.168674,22.289156,0.000000,16.265060,6.325301,34.638554,0.000000,0.1992
19,5601,0.627200,43728.091146,19887.240885,0.014375,Albany Technical College,3.0,GA,31701.0,9.0,...,0.000000,0.000000,25.094339,17.169811,0.000000,0.377358,1.320755,0.000000,56.037735,NaN
20,1374,NaN,89400.364293,46223.491831,0.055205,Albertus Magnus College,1.0,CT,6511.0,6.0,...,0.004467,2.398081,72.422066,0.000000,8.872902,0.959233,1.199041,14.148682,0.000000,0.6821
21,2235,0.564070,159765.401042,59085.638021,0.006813,Albion College,2.0,MI,49224.0,6.0,...,0.006557,23.270439,0.000000,0.000000,0.314465,0.314465,24.213837,51.886791,0.000000,0.5639
22,3229,0.590234,139372.168533,53178.048604,0.013706,Albright College,1.0,PA,19612.0,6.0,...,0.046875,8.152174,35.054348,0.000000,6.250000,0.000000,14.945652,35.597824,0.000000,0.6231
23,3806,0.632275,68810.965898,40454.075283,0.027366,Alderson Broaddus University,3.0,WV,26416.0,6.0,...,0.008658,4.255319,6.382979,53.191490,2.836879,0.000000,24.822695,8.510638,0.000000,0.4321
24,2668,0.526393,133071.260567,51684.431483,0.014771,Alfred University,1.0,NY,14802.0,6.0,...,0.020573,8.333333,29.513889,0.694444,4.861111,3.819444,18.750000,34.027779,0.000000,0.6980
25,1111,0.526230,76983.841146,33651.392578,0.019464,Allan Hancock College,4.0,CA,93454.0,9.0,...,0.001652,6.362672,9.119830,19.088017,35.737011,20.572641,4.984093,2.226935,1.908802,NaN
26,2057,0.592889,66930.820312,33101.397786,0.019646,Allegany College Of Maryland,3.0,MD,21502.0,9.0,...,0.000000,0.000000,21.311476,38.797813,22.040073,3.642987,6.739526,2.914390,4.553734,NaN
27,3230,0.505178,142412.083333,59176.899740,0.013434,Allegheny College,1.0,PA,16335.0,6.0,...,0.014181,14.975845,0.000000,0.000000,0.966184,0.000000,37.681160,46.376812,0.000000,0.6487
28,1901,0.572900,74845.655439,31134.319235,0.011013,Allen County Community College,2.0,KS,66749.0,9.0,...,0.008130,4.088050,13.207547,37.421383,18.238995,0.943396,9.748427,15.723270,0.628931,NaN
29,2236,0.560976,120659.526042,52926.635417,0.011659,Alma College,2.0,MI,48801.0,6.0,...,0.013485,16.245487,14.440434,9.386282,0.000000,0.000000,27.075813,32.851986,0.000000,0.6791
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2172,3456,0.717739,97708.631271,41556.469915,0.013889,Winthrop University,3.0,SC,29733.0,5.0,...,0.019574,17.815346,26.918076,1.690507,0.000000,5.981794,8.192458,39.401821,0.000000,0.7225
2173,11824,0.495846,73805.480489,31609.993058,0.009381,Wisconsin Indianhead Technical College,2.0,WI,54871.0,9.0,...,0.000000,0.000000,20.324509,51.152863,0.170794,0.000000,4.867635,0.000000,23.484201,NaN
2174,21366,0.613995,100279.492805,45958.044415,0.006271,Wisconsin Lutheran College,2.0,WI,53226.0,6.0,...,0.025237,21.428572,13.265306,0.000000,2.040816,1.020408,8.163265,54.081635,0.000000,0.6356
2175,3143,0.572833,162171.235346,53342.806244,0.007983,Wittenberg University,2.0,OH,45504.0,6.0,...,0.033876,19.518717,16.042780,0.000000,7.754011,0.000000,21.390375,35.294117,0.000000,0.8932
2176,3457,0.480255,243617.173189,72103.582902,0.011826,Wofford College,3.0,SC,29303.0,4.0,...,0.000920,15.415020,30.039526,0.000000,3.952569,0.000000,18.577074,32.015808,0.000000,0.6880
2177,7405,0.825581,42822.666667,29297.949870,0.073151,Wood Tobe - Coburn School,1.0,NY,10016.0,11.0,...,0.000000,17.351599,42.465752,14.611872,0.000000,0.000000,25.570776,0.000000,0.000000,NaN
2178,1343,0.610951,106416.812185,45386.350459,0.063644,Woodbury University,4.0,CA,91510.0,6.0,...,0.080176,17.159763,47.928993,0.000000,0.000000,0.000000,33.136093,1.775148,0.000000,0.5575
2179,20739,0.587189,70139.929688,31825.281901,0.021064,Wor-Wic Community College,3.0,MD,21804.0,9.0,...,0.000000,0.000000,31.500000,41.500000,21.500000,4.000000,1.500000,0.000000,0.000000,NaN
2180,2233,0.232441,138955.757264,102151.289559,0.021758,Worcester Polytechnic Institute,1.0,MA,1609.0,4.0,...,0.052183,0.167504,2.512563,0.000000,0.837521,0.000000,96.147408,0.335008,0.000000,0.5159
2181,2190,0.601413,97532.336450,48134.729263,0.014953,Worcester State University,1.0,MA,1602.0,5.0,...,0.021449,4.584041,17.317488,26.315790,2.037351,0.000000,10.356537,39.388794,0.000000,0.6062
2182,11859,0.508725,79461.010141,26863.558471,0.005064,Word Of Life Bible Institute,1.0,NY,12860.0,9.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,100.000000,0.000000,0.000000,0.000000,NaN
2183,25909,0.766043,36096.954728,15844.263191,0.004784,Wright Career College,2.0,KS,66210.0,8.0,...,0.000000,0.000000,16.733068,73.505974,0.000000,0.000000,9.760956,0.000000,0.000000,NaN
2184,3078,0.564955,97052.536615,43210.641604,0.007776,Wright State University,2.0,OH,45435.0,5.0,...,0.010447,7.358814,21.734171,10.496292,0.000000,2.452938,17.569881,39.532230,0.855676,NaN
2185,3761,0.614713,58383.510413,27528.136687,0.018606,Wytheville Community College,3.0,VA,24382.0,9.0,...,0.000855,0.000000,40.372669,36.853001,10.351967,6.625259,5.797102,0.000000,0.000000,NaN
2186,3144,0.567676,195652.186018,62722.444015,0.008458,Xavier University,2.0,OH,45207.0,6.0,...,0.032346,6.205250,20.763723,6.801909,25.417660,4.176611,7.517899,29.116945,0.000000,0.6997
2187,2032,0.729716,82439.912446,63788.146819,0.052551,Xavier University Of Louisiana,3.0,LA,70125.0,6.0,...,0.019184,5.806451,10.322580,2.365591,0.000000,0.000000,53.763439,27.741936,0.000000,0.5443
2188,21274,0.313316,77808.823291,37785.820590,0.010715,YTI Career Institute,1.0,PA,17402.0,11.0,...,0.000000,0.000000,23.497269,0.000000,0.000000,0.000000,58.105644,0.000000,18.397085,NaN
2189,3805,0.606978,65983.593514,32620.390508,0.021608,Yakima Valley Community College,4.0,WA,98907.0,9.0,...,0.004597,0.000000,7.681941,15.633423,60.377357,3.908356,3.234501,7.547170,1.617251,NaN
2190,1426,0.506612,515437.751971,143231.283910,0.020817,Yale University,1.0,CT,6520.0,1.0,...,0.051392,21.091446,0.000000,0.000000,11.356933,0.000000,23.230087,44.321537,0.000000,0.0705
2191,1079,0.547132,80988.928838,32028.280414,0.019593,Yavapai College,4.0,AZ,86301.0,9.0,...,0.000505,2.702703,15.765766,22.072073,39.189190,8.108109,6.756757,0.000000,5.405405,NaN
2192,2903,0.467478,325796.837305,69211.415023,0.015017,Yeshiva University,1.0,NY,10033.0,6.0,...,0.000000,7.357357,22.822823,0.900901,26.426426,0.000000,16.066067,26.426426,0.000000,0.8216
2193,3996,0.569560,70891.944866,28549.956057,0.007870,York Technical College,3.0,SC,29730.0,9.0,...,0.001668,0.000000,35.501862,21.933086,9.293680,0.000000,13.382899,0.000000,19.888475,NaN
2194,208,0.508278,75045.323660,34299.253862,0.022407,Yosemite Community College District,4.0,CA,95350.0,9.0,...,0.003514,4.885993,17.003258,6.905538,38.566772,8.990228,7.361564,5.993486,10.293159,NaN
2195,1604,0.471173,125950.510888,36482.507945,0.003372,Young Harris College,3.0,GA,30582.0,8.0,...,0.014516,8.196721,16.393442,9.836065,52.459015,0.000000,0.000000,13.114754,0.000000,0.5365
2196,3145,0.513448,82349.450019,41010.530226,0.013420,Youngstown State University,2.0,OH,44555.0,5.0,...,0.007439,9.700176,19.282776,11.111111,2.763081,10.699589,20.517342,25.808348,0.117578,NaN
2197,42,0.552929,61468.370708,30748.120326,0.023530,Yuba Community College District,4.0,CA,95901.0,9.0,...,0.000971,0.728745,24.372469,15.465587,28.097166,18.704453,3.967611,0.971660,7.692308,NaN
2198,8133,0.594470,65763.334635,31531.191406,0.013754,Zane State College,2.0,OH,43701.0,9.0,...,0.000000,2.397260,38.356163,26.712328,3.082192,10.616438,13.356165,0.000000,5.479452,NaN
2199,-99,0.506820,55858.262836,23126.845909,0.013047,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2200,-9,0.367679,48010.288464,19020.918132,0.013344,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2201,-1,0.596970,72905.270718,33889.987554,0.021699,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [125]:
df['female_norm'] = (df['female']-df['female'].min())/(df['female'].max()-df['female'].min())
df['enrollment_norm'] = (df['ipeds_enrollment_2013']-df['ipeds_enrollment_2013'].min())/(df['ipeds_enrollment_2013'].max()-df['ipeds_enrollment_2013'].min())
df['price_norm'] = (df['sticker_price_2013']-df['sticker_price_2013'].min())/(df['sticker_price_2013'].max()-df['sticker_price_2013'].min())
df['grad_norm'] = (df['grad_rate_150_p_2013']-df['grad_rate_150_p_2013'].min())/(df['grad_rate_150_p_2013'].max()-df['grad_rate_150_p_2013'].min())
df['sat_norm'] = (df['sat_avg_2013']-df['sat_avg_2013'].min())/(df['sat_avg_2013'].max()-df['sat_avg_2013'].min())
df['netprice_norm'] = (df['scorecard_netprice_2013']-df['scorecard_netprice_2013'].min())/(df['scorecard_netprice_2013'].max()-df['scorecard_netprice_2013'].min())
df['acceptance_norm'] = (df['acc_rate_2013']-df['acc_rate_2013'].min())/(df['acc_rate_2013'].max()-df['acc_rate_2013'].min())

In [126]:
df.head()

,super_opeid,female,par_mean,k_mean,mr_kq5_pq1,name,region,state,zip,tier,...,pct_socialscience_2000,pct_tradepersonal_2000,acc_rate_2013,female_norm,enrollment_norm,price_norm,grad_norm,sat_norm,netprice_norm,acceptance_norm
0,30955,0.798788,35390.396804,24916.149002,0.020034,ASA Institute Of Business & Computer Technology,1.0,NY,11201.0,11.0,...,0.000000,0.000000,NaN,0.798121,0.020119,0.224311,0.302163,NaN,0.542901,NaN
1,3537,0.559618,138760.969806,50874.146133,0.014364,Abilene Christian University,3.0,TX,79699.0,6.0,...,31.691078,0.133156,0.4894,0.558158,0.015865,0.568011,0.556654,0.422492,0.515265,0.458594
2,1541,0.441609,80366.661268,35346.929969,0.014857,Abraham Baldwin Agricultural College,3.0,GA,31793.0,7.0,...,0.000000,0.683371,0.7090,0.439757,0.014425,0.045888,NaN,0.240122,0.210697,0.691443
3,7531,0.414257,166594.969612,39988.017206,0.016357,Academy Of Art University,4.0,CA,94105.0,10.0,...,3.908046,0.000000,NaN,0.412314,0.045178,0.373437,0.316186,NaN,0.689035,NaN
4,1345,0.500847,76121.816340,38010.813407,0.018845,Adams State University,4.0,CO,81101.0,5.0,...,18.181818,0.000000,0.5260,0.499192,0.009627,0.138466,0.245943,0.311854,0.371060,0.497402

In [127]:
df.shape

(2202, 43)

In [128]:
urls = pd.read_csv('OPEID.csv')
urls = urls[['Web','OPEID6']]
urls.head()

                  Web  OPEID6
0       www.aamu.edu/  1002.0
1    www.faulkner.edu  1003.0
2  www.montevallo.edu  1004.0
3       www.alasu.edu  1005.0
4        www.cacc.edu  1007.0

In [129]:
df = df.join(urls.set_index('OPEID6'),on='super_opeid')
df.head()

,super_opeid,female,par_mean,k_mean,mr_kq5_pq1,name,region,state,zip,tier,...,pct_tradepersonal_2000,acc_rate_2013,female_norm,enrollment_norm,price_norm,grad_norm,sat_norm,netprice_norm,acceptance_norm,Web
0,30955,0.798788,35390.396804,24916.149002,0.020034,ASA Institute Of Business & Computer Technology,1.0,NY,11201.0,11.0,...,0.000000,NaN,0.798121,0.020119,0.224311,0.302163,NaN,0.542901,NaN,www.asa.edu
1,3537,0.559618,138760.969806,50874.146133,0.014364,Abilene Christian University,3.0,TX,79699.0,6.0,...,0.133156,0.4894,0.558158,0.015865,0.568011,0.556654,0.422492,0.515265,0.458594,www.acu.edu
2,1541,0.441609,80366.661268,35346.929969,0.014857,Abraham Baldwin Agricultural College,3.0,GA,31793.0,7.0,...,0.683371,0.7090,0.439757,0.014425,0.045888,NaN,0.240122,0.210697,0.691443,www.abac.edu
3,7531,0.414257,166594.969612,39988.017206,0.016357,Academy Of Art University,4.0,CA,94105.0,10.0,...,0.000000,NaN,0.412314,0.045178,0.373437,0.316186,NaN,0.689035,NaN,www.academyart.edu
4,1345,0.500847,76121.816340,38010.813407,0.018845,Adams State University,4.0,CO,81101.0,5.0,...,0.000000,0.5260,0.499192,0.009627,0.138466,0.245943,0.311854,0.371060,0.497402,www.adams.edu

In [130]:
df.shape

(2347, 44)

In [131]:
df.notnull().mean()

super_opeid                         1.000000
female                              0.990626
par_mean                            1.000000
k_mean                              1.000000
mr_kq5_pq1                          1.000000
name                                0.998722
region                              0.998722
state                               0.998722
zip                                 0.998722
tier                                0.998722
tier_name                           0.998722
type                                0.998722
iclevel                             0.998722
public                              0.998722
hbcu                                0.998722
flagship                            0.998722
ipeds_enrollment_2013               0.998722
sticker_price_2013                  0.928845
grad_rate_150_p_2013                0.908820
sat_avg_2013                        0.420111
scorecard_netprice_2013             0.995313
scorecard_rej_rate_2013             0.544951
scorecard_median_earnings_2011      0.986792
asian_or_pacific_share_fall_2000    0.994035
black_share_fall_2000               0.994035
hisp_share_fall_2000                0.994035
alien_share_fall_2000               0.994035
pct_arthuman_2000                   0.992757
pct_business_2000                   0.992757
pct_health_2000                     0.992757
pct_multidisci_2000                 0.992757
pct_publicsocial_2000               0.992757
pct_stem_2000                       0.992757
pct_socialscience_2000              0.992757
pct_tradepersonal_2000              0.992757
acc_rate_2013                       0.544951
female_norm                         0.990626
enrollment_norm                     0.998722
price_norm                          0.928845
grad_norm                           0.908820
sat_norm                            0.420111
netprice_norm                       0.995313
acceptance_norm                     0.544951
Web                                 0.927141
dtype: float64

In [132]:
df.to_csv('college_data.csv')

In [ ]:
## add in more specific mobility

In [133]:
mobility = pd.read_csv('college_mobility.csv')
mobility.head()

,Unnamed: 0,super_opeid,mr_overall,mr_q1,mr_q2,mr_q3,mr_q4,mr_q5
0,0,30955,3.290055,3.415227,3.226224,3.227639,3.034360,2.892337
1,1,3537,2.552103,2.481784,2.773621,2.755336,2.553185,2.428880
2,2,1541,2.809494,3.213950,2.943568,2.739660,2.644107,2.642689
3,3,7531,2.924693,3.203335,2.985184,2.971150,2.898626,2.833620
4,4,1345,2.722213,2.986302,2.827349,2.673509,2.695531,2.525756

In [134]:
df_mobility = df.join(mobility.set_index('super_opeid'),on='super_opeid')

In [135]:
df_mobility.shape

(2347, 51)

In [136]:
df_mobility.head()

,super_opeid,female,par_mean,k_mean,mr_kq5_pq1,name,region,state,zip,tier,...,netprice_norm,acceptance_norm,Web,Unnamed: 0,mr_overall,mr_q1,mr_q2,mr_q3,mr_q4,mr_q5
0,30955,0.798788,35390.396804,24916.149002,0.020034,ASA Institute Of Business & Computer Technology,1.0,NY,11201.0,11.0,...,0.542901,NaN,www.asa.edu,0,3.290055,3.415227,3.226224,3.227639,3.034360,2.892337
1,3537,0.559618,138760.969806,50874.146133,0.014364,Abilene Christian University,3.0,TX,79699.0,6.0,...,0.515265,0.458594,www.acu.edu,1,2.552103,2.481784,2.773621,2.755336,2.553185,2.428880
2,1541,0.441609,80366.661268,35346.929969,0.014857,Abraham Baldwin Agricultural College,3.0,GA,31793.0,7.0,...,0.210697,0.691443,www.abac.edu,2,2.809494,3.213950,2.943568,2.739660,2.644107,2.642689
3,7531,0.414257,166594.969612,39988.017206,0.016357,Academy Of Art University,4.0,CA,94105.0,10.0,...,0.689035,NaN,www.academyart.edu,3,2.924693,3.203335,2.985184,2.971150,2.898626,2.833620
4,1345,0.500847,76121.816340,38010.813407,0.018845,Adams State University,4.0,CO,81101.0,5.0,...,0.371060,0.497402,www.adams.edu,4,2.722213,2.986302,2.827349,2.673509,2.695531,2.525756

In [137]:
df_mobility.to_csv('college_data_mobility.csv')

In [36]:
##add in innovation data
innovation = pd.read_csv('innovation.csv')
innovation.head()

,super_opeid,instnm,count,count_pq1,count_pq2,count_pq3,count_pq4,count_pq5,inventor,inventor_pq1,inventor_pq2,inventor_pq3,inventor_pq4,inventor_pq5,top5cit,total_patents,total_cites
0,1,University Of Hawaii And Hawaii Community Coll...,27002,3205,4527,5628,6957,6685,0.001037,0.000312,0.000663,0.000533,0.000719,0.002393,0.000069,22,55
1,4,Coast Community College District,24340,4183,3829,4311,5066,6951,0.001643,0.001195,0.001045,0.001160,0.001382,0.002733,0.000120,76,333
2,13,Kern & North Orange County Community College D...,18765,2521,3091,3564,4410,5179,0.001119,0.001190,0.000000,0.001403,0.000907,0.001738,0.000005,28,22
3,16,San Mateo County Community College District,10936,1253,1658,2187,2513,3325,0.001646,0.002394,0.003619,0.000457,0.001194,0.001504,0.000105,35,2474
4,19,Foothill-Deanza Community College District,16619,2245,2287,2798,3206,6083,0.003189,0.003118,0.000437,0.003574,0.001871,0.004767,0.000183,137,1497

In [37]:
##innovation data
innovation = innovation[['super_opeid', 'inventor']]
innovation.head()

   super_opeid  inventor
0            1  0.001037
1            4  0.001643
2           13  0.001119
3           16  0.001646
4           19  0.003189

In [38]:
df = df.join(innovation.set_index('super_opeid'), on='super_opeid')
df.head()

,super_opeid,female,par_mean,k_mean,mr_kq5_pq1,name,region,state,zip,tier,...,pct_stem_2000,pct_socialscience_2000,pct_tradepersonal_2000,female_norm,enrollment_norm,price_norm,grad_norm,sat_norm,netprice_norm,inventor
0,30955,0.798788,35390.396804,24916.149002,0.020034,ASA Institute Of Business & Computer Technology,1.0,NY,11201.0,11.0,...,81.970650,0.000000,0.000000,0.798121,0.020119,0.224311,0.302163,NaN,0.542901,NaN
1,3537,0.559618,138760.969806,50874.146133,0.014364,Abilene Christian University,3.0,TX,79699.0,6.0,...,11.318242,31.691078,0.133156,0.558158,0.015865,0.568011,0.556654,0.422492,0.515265,NaN
2,1541,0.441609,80366.661268,35346.929969,0.014857,Abraham Baldwin Agricultural College,3.0,GA,31793.0,7.0,...,29.612757,0.000000,0.683371,0.439757,0.014425,0.045888,NaN,0.240122,0.210697,NaN
3,7531,0.414257,166594.969612,39988.017206,0.016357,Academy Of Art University,4.0,CA,94105.0,10.0,...,0.000000,3.908046,0.000000,0.412314,0.045178,0.373437,0.316186,NaN,0.689035,0.006834
4,1345,0.500847,76121.816340,38010.813407,0.018845,Adams State University,4.0,CO,81101.0,5.0,...,13.489737,18.181818,0.000000,0.499192,0.009627,0.138466,0.245943,0.311854,0.371060,NaN

In [181]:
df_test = pd.read_csv('college_data.csv')
df_test.drop(['mr_q1','mr_q2','mr_q3','mr_q4','mr_q5','mr_overall'],axis=1,inplace=True)
df_test.head()

,super_opeid,female,par_mean,k_mean,mr_kq5_pq1,Web,name,region,state,zip,...,pct_socialscience_2000,pct_tradepersonal_2000,acc_rate_2013,female_norm,enrollment_norm,price_norm,grad_norm,sat_norm,netprice_norm,acceptance_norm
0,30955,0.798788,35390.39680,24916.14900,0.020034,www.asa.edu,ASA Institute Of Business & Computer Technology,1,NY,11201,...,0.000000,0.000000,NaN,0.798121,0.020119,0.224311,0.302163,NaN,0.542901,NaN
1,3537,0.559618,138760.96980,50874.14613,0.014364,www.acu.edu,Abilene Christian University,3,TX,79699,...,31.691078,0.133156,0.4894,0.558158,0.015865,0.568011,0.556654,0.422492,0.515265,0.458594
2,1541,0.441609,80366.66127,35346.92997,0.014857,www.abac.edu,Abraham Baldwin Agricultural College,3,GA,31793,...,0.000000,0.683371,0.7090,0.439757,0.014425,0.045888,NaN,0.240122,0.210697,0.691443
3,7531,0.414257,166594.96960,39988.01721,0.016357,www.academyart.edu,Academy Of Art University,4,CA,94105,...,3.908046,0.000000,NaN,0.412314,0.045178,0.373437,0.316186,NaN,0.689035,NaN
4,1345,0.500847,76121.81634,38010.81341,0.018845,www.adams.edu,Adams State University,4,CO,81101,...,18.181818,0.000000,0.5260,0.499192,0.009627,0.138466,0.245943,0.311854,0.371060,0.497402

In [182]:
df_mob = pd.read_csv('college_mobility2.csv')
# df_mob = df_mob[['super_opeid','mr_overall']]

In [175]:
df2 = pd.read_csv('mrc_table2.csv')
df2 = df2[['super_opeid','k_rank','k_rank_cond_parq1','k_rank_cond_parq2','k_rank_cond_parq3','k_rank_cond_parq4','k_rank_cond_parq5']]
df2.head()

,super_opeid,k_rank,k_rank_cond_parq1,k_rank_cond_parq2,k_rank_cond_parq3,k_rank_cond_parq4,k_rank_cond_parq5
0,30955,0.443332,0.418288,0.459800,0.459086,0.497945,0.451035
1,3537,0.592422,0.611339,0.548766,0.553331,0.597387,0.612558
2,1541,0.535311,0.471523,0.514177,0.547938,0.564941,0.555468
3,7531,0.516059,0.463282,0.504483,0.507622,0.517600,0.534997
4,1345,0.552421,0.497570,0.532087,0.563781,0.558840,0.588584

In [183]:
df_test2 = df_test.join(df_mob.set_index('super_opeid'),on='super_opeid')
df_test2.head()

,super_opeid,female,par_mean,k_mean,mr_kq5_pq1,Web,name,region,state,zip,...,sat_norm,netprice_norm,acceptance_norm,Unnamed: 0,mr_q0,mr_q1,mr_q2,mr_q3,mr_q4,mr_q5
0,30955,0.798788,35390.39680,24916.14900,0.020034,www.asa.edu,ASA Institute Of Business & Computer Technology,1,NY,11201,...,NaN,0.542901,NaN,0,21645.277711,-82710.360946,-15252.511259,20617.420397,35463.723690,46526.515768
1,3537,0.559618,138760.96980,50874.14613,0.014364,www.acu.edu,Abilene Christian University,3,TX,79699,...,0.422492,0.515265,0.458594,1,2816.608747,-110194.478785,-24683.712395,7179.398979,24743.048977,37572.592988
2,1541,0.441609,80366.66127,35346.92997,0.014857,www.abac.edu,Abraham Baldwin Agricultural College,3,GA,31793,...,0.240122,0.210697,0.691443,2,7036.831381,-88270.439618,-24956.216154,4752.482616,23474.134635,41079.609155
3,7531,0.414257,166594.96960,39988.01721,0.016357,www.academyart.edu,Academy Of Art University,4,CA,94105,...,NaN,0.689035,NaN,3,15706.857736,-82908.698862,-17799.595909,16620.617433,36545.106961,50824.766661
4,1345,0.500847,76121.81634,38010.81341,0.018845,www.adams.edu,Adams State University,4,CO,81101,...,0.311854,0.371060,0.497402,4,5030.570251,-93860.606222,-27012.423973,2796.628093,26110.754030,37298.758747

In [184]:
df_test2.count()

super_opeid                         2217
female                              2203
par_mean                            2217
k_mean                              2217
mr_kq5_pq1                          2217
Web                                 2090
name                                2217
region                              2217
state                               2217
zip                                 2217
tier                                2217
tier_name                           2217
type                                2217
iclevel                             2217
public                              2217
hbcu                                2217
flagship                            2217
ipeds_enrollment_2013               2217
sticker_price_2013                  2113
grad_rate_150_p_2013                2045
sat_avg_2013                         960
scorecard_netprice_2013             2209
scorecard_rej_rate_2013             1241
scorecard_median_earnings_2011      2190
asian_or_pacific_share_fall_2000    2206
black_share_fall_2000               2206
hisp_share_fall_2000                2206
alien_share_fall_2000               2206
pct_arthuman_2000                   2203
pct_business_2000                   2203
pct_health_2000                     2203
pct_multidisci_2000                 2203
pct_publicsocial_2000               2203
pct_stem_2000                       2203
pct_socialscience_2000              2203
pct_tradepersonal_2000              2203
acc_rate_2013                       1241
female_norm                         2198
enrollment_norm                     2217
price_norm                          2113
grad_norm                           2045
sat_norm                             960
netprice_norm                       2209
acceptance_norm                     1241
Unnamed: 0                          2217
mr_q0                               2217
mr_q1                               2217
mr_q2                               2217
mr_q3                               2217
mr_q4                               2217
mr_q5                               2217
dtype: int64

In [185]:
df_test2.to_csv('college_data_2.csv')